/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*
  ========================================
  Custom styles
  ========================================
*/

body {
    background: #c8c3cc;
    color: black;
    font: 300 20px/24px "Roboto", "Open Sans", Arial, sans-serif;
    padding: 15px;
    text-align: center;
}

section {
    background: #484f4f;
    padding: 20px 20px;
    margin: 20px;
    border-radius: 15px;
    width: 85%;
    margin: auto;
}

header {
    color: #563f46;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background: gray;
    color: black;
    font-size: 16px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    /* margin-top: 40px; */
    width: 85%;
    padding: 5px 20px;
    border-radius: 8px;
}

.tweet-container {
    background: #8ca3a3;
    margin: 10px;
    border-radius: 40px;
}

#update-btn:hover {
    background: #c1502e;
    cursor: pointer;
}

#update-btn {
    display: inline-block;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.tweet-text, .timestamp, .username {
    margin: 10px;
    display: inline-block;
}

.tweet-text {
    margin-left: 3px;
}

.username {
    margin-right: 3px;
}

h1 {
    padding: 10px;
    margin-bottom: 15px;
}


/*
	=======================================
	Typography
	=======================================
*/

.username {
    color: #484f4f;
    font-weight: 600;
    font-size: 26px;
}

.username:hover {
    color: #c1502e;
    cursor: pointer;
}

.timestamp {
    color:#3b3a30;
    font-weight: 100;
    font-size: 14px;
    vertical-align: center;
}

#update-btn {
    color: #e0e2e4;
    background: #484f4f;
    font-size: 32px;
}

h1 {
    color: #e0e2e4;
    font-size: 28px;
    font-weight: 900;
}

/*
	=======================================
	Links
	=======================================
*/
